@implements IComponent
@layout TelerikLayout
@inherits LayoutComponentBase


@namespace Ux.Core.Shared

<div class="sidebar">
    <NavMenu />
</div>
<BSContainer class="main" IsFluid=" true">
    @Body
</BSContainer>


